@media screen{
    .card_wrapper{
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
        margin-bottom: 100px;
        margin-top: -350px;
        border-radius: 3px;
        overflow: hidden;
        main{
            width: 960px;
            padding: 50px 50px 40px;
            background: #fff;
            display: flex;
            position: relative;
            .blog{
                // border: 1px solid red;
                display: inline-block;
                position: absolute;
                z-index: 999;
                right: 80px;
                top: 50px;
                transition: all 0.5s ease;
                box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.53);
                padding: 10px;
                i{
                    font-size: 100px;
                    color: #e83c3f;
                }
            }
            .blog:hover{

                transform: rotate(360deg);
            }
            .main_lf{
                display: inline-block;
                vertical-align: middle;
                width: 300px;
                img{
                    width: 100%;
                    height: 300px;
                }
            }
            .main_rt{
                width: 470px;
                margin-left: 65px;
                position: relative;
                a.resume_webLink{
                    display: none;
                }
                a.download_resume{
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #CDCFD1;
                    line-height: 16px;
                    padding: 8px 20px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #3d4451;
                    background-color: #efefef;
                    border-radius: 2px;

                    position: absolute;
                    top: 54px;
                    right: 235px;

                    transition: box-shadow 0.2s;                    
                }
                .welcome{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    line-height: 22px;
                    padding: 4px 15px;
                    color: white;
                    background: #e6686a;
                    margin-bottom: 10px;
                    position: relative;
                    .triangle{
                        display: block;
                        width: 0;
                        border: 10px solid transparent;
                        border-left-color: #e6686a;
                        border-top-width: 0px;
                        position: absolute;
                        left: 4px;
                        top: 100%;
                    }
                }
                .myName{
                    margin-top: 10px;
                }
                .myIntroduce{}
                hr{
                    height: 0;
                    border: none;
                    border-top: 1px solid #dedede;
                    margin: 20px 0;
                }
                dl{
                    display: flex;
                    flex-wrap: wrap;
                    dt{
                        // border: 1px solid blue;
                        width: 30%;
                        padding: 5px 0;
                        font-weight: bold;
                    }
                    dd{
                        // border: 1px solid orange;
                        width: 70%;
                        padding: 5px 0;
                        color: #9da0a7;
                    }
                }
    
            }
        }
        footer{
            text-align: center;
            background: #e6686a;
            a{
                display: inline-block;
                padding: 22px 0;
                margin: 0 20px;
                .iconfont{
                    font-size: 28px;
                    color: #fff;
                }
            }
        }
    }
}

