.worksList{
    margin: 40px auto;
}
.worksList > h2{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.worksList > ul{
    display: flex;
    flex-wrap: wrap;
}
.worksList > ul > li{
    flex: 1 0 100%;
    padding:30px 0;
}
.worksList > ul > li figure:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.worksList  ul > li  figure{
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   border:1px solid #ddd;
   background: #eee;
   overflow: hidden;
}
.worksList  ul > li  figure > div.img{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    flex:0.3;
    background: #aaa;   
}
.worksList  ul > li  figure > div.img.work1{
    background:url(../../img/163music.jpg) center top no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work2{
    background:url(../../img//chat聊天.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work3{
    background:url(../../img//canvas画板.jpg) center top no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work4{
    background:url(../../img//皮卡丘.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work5{
    background:url(../../img/轮播.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work6{
    background:url(../../img/keyboard.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > figcaption{
   flex:0.7;    
}
figure > figcaption h3{
    padding: 10px;
}
figure > figcaption div.descript .descript-content{
    text-indent: 2em;
}

figure > figcaption div.works-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    overflow: hidden;
}
figure > figcaption a{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    background: #ddd;
    border: 1px solid rgba(163, 161, 161, 0.514);
}